# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\c++projects\mwdui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
